<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game_board.id %>
</p>

<p>
  <b>GameId:</b>
  <%= @game.id %>
</p>

<p>
  <b>Content:</b>
  <%= render 'boards/board', :board => @game_board %>
</p>

<p>
  <b>Size:</b>
  <%= @game_board.board_size %>
</p>

<%= link_to 'Edit', edit_game_board_path(@game, @game_board)  %> |
<%= link_to 'Back', game_boards_url(@game) %>
